    <span class="close">&times;</span>
    <h4>Add New Question</h4>
    <div id="leftcolumn">
    <img src="wizard_add_question.jpg" height="205"></div>
    <div id="rightcolumn">
    <p>
This wizard allows you to add a new question quickly and easily. You can set several options now. 
</p>
<form action="insert_question_text" method="post"> 
<select name="cars">
  <option value="MCQ">Multiple Choice</option>
  <option value="MCMR">Multiple Choice Multiple Response</option>
  <option value="FIB">Fill-in-the-blank</option>
  <option value="SA">Short Answer</option>
</select>

<button style="text-align: right;" type="submit">Next</button>

</form></div><br><br><br><br><br><br><br>
  </div>
 