<!DOCTYPE html>
<html ng-app="add_question">
<head>
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script> -->
<title>{{ title }}</title>
<meta charset="utf-8">
 <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<!-- <script src="{{ url_for('static', filename='contextmenu.js') }}"></script>  -->
<link rel="stylesheet" href="{{ url_for('static', filename='contextmenu.css') }}" /> 
<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modal.css') }}">-->
</head>
<body>
<div id="wrapper">
  <header>
 <img src="/static/ntu_logo.jpg" alt="NTU logo" height="102" width="300" >
  </header>
  <div id="leftcolumn">
  <nav>
    <ul>
      <li><a href="students.html">Students</a></li>
      <br>
      <li><a href="assessments">Assessments</a></li>
  </ul>
  </nav>  
  </div>
  <div id="rightcolumn">
    <div class="content"> 
    <!--<div ng-view>    </div>-->
          <span class="close">&times;</span>
    <h4>Add New Question</h4>
    <div id="leftcolumn">
    <img src="/static/wizard_add_question.jpg" height="205"></div>
    <div id="rightcolumn">
    <p>

This wizard allows you to add a new question quickly and easily. You can set several options now. 
</p>
<form action="question_congrats" method="post">
{% autoescape false %}
{% if (type == 'MCQ'): %}
{% for i in range(varVal): %}
Answer Table for Variation {{ i+1 }} :
<div id="POItablediv">
    <table id="POITable{{ i }}" border="1">
        <thead>
        <td>
          
        </td>
          <td>
            Answer
          </td>
          <td>
            Right Answer
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
        </thead>
        <tr>
            <td>1</td>
            <td><input size=25 type="text" id="latbox" name="value{{ i }}"/></td>
            <td><select name="right{{ i }}"><option value="0">0</option><option value="1">1</option></select></td>
            <td><input type="button" id="delPOIbutton" value="Delete" onclick="deleteRow(this, {{ i }})"/></td>
            <td><input type="button" id="addmorePOIbutton" value="Add More Choices" onclick="insRow({{ i }})"></td>
        </tr>
    </table>
    <br><br><br>
{% endfor %}
{% else: %}
{% for i in range(varVal): %}
Answer Table for Variation {{ i+1 }} :
<div id="POItablediv">
    <table id="POITable{{ i }}" border="1">
        <thead>
        <td>
          
        </td>
          <td>
            Answer
          </td>
          <td>
            Right Answer
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
        </thead>
        <tr>
            <td>1</td>
            <td><input size=25 type="text" id="latbox" name="value{{ i }}" /></td>
            <td><select name="right{{ i }}"><option value="0">0</option><option value="1">1</option></select></td>
            <td><input type="button" id="delPOIbutton" value="Delete" onclick="deleteRow(this, {{ i }})"/></td>
            <td><input type="button" id="addmorePOIbutton" value="Add More Choices" onclick="insRow({{ i }})"></td>
        </tr>
    </table>
    <br><br><br>
{% endfor %}
{% endif %}
<div>
  {% if type=='MCMR':%}
  Enter Partial Marks for each correct answer <input type="number" step = "0.01" name="partial_marks">
  {% endif %}
</div>
<button type="submit">Next</button>
</form>
</div><br><br><br><br><br><br><br>
  </div>
  {% endautoescape %}
 
    </div></div>

    </div><br><br><br><br><br><br><br><br></div></div>
    <footer>
<br><i> &copy; 2017 NANYANG TECHNOLOGICAL UNIVERSITY</i>  
   </footer>
  </div>

<script type="text/javascript" src="{{ url_for('static', filename='add_tablerow.js')}}"'></script>


</body>
</html>

