<!DOCTYPE html>
<html ng-app="add_question">
<head>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
<title>{{ title }}</title>
<meta charset="utf-8">
 <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<script src="{{ url_for('static', filename='contextmenu.js') }}"></script> 
<link rel="stylesheet" href="{{ url_for('static', filename='contextmenu.css') }}" /> 
<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modal.css') }}">-->
</head>
<body>
 <script type="text/javascript">
     var delete_cookie = function(name) {
    document.cookie = 0;
};
  </script>
<div id="wrapper">
  <header>
 <img src="/static/ntu_logo.jpg" alt="NTU logo" height="102" width="300" >
  </header>
  <div id="leftcolumn">
  <nav>
    <ul>
      <li><a href="students.html">Students</a></li>
      <br>
      <li><a href="assessments">Assessments</a></li>
  </ul>
  </nav>  
  </div>
  <div id="rightcolumn">
    <div class="content"> 
    <!--<div ng-view>    </div>-->
          <span class="close">&times;</span>
    <h4>Add New Question</h4>
    <div id="leftcolumn">
    <img src="/static/wizard_add_question.jpg" height="205"></div>
    <div id="rightcolumn">

{% autoescape false %}
<form action="insert_params" method="post">

{% for i in param_count: %}
Type of Parameter {{ i+1 }} :
<br><br>  
<fieldset id= '{{ i }}' >
Text:
<input type="radio" value="0" name="{{ i }}"> &nbsp; &nbsp; &nbsp; 
<!-- '0' corresponds to Text and '1' corresponds to Picture'-->
Picture: <input type="radio" value="1" name="{{ i }}">
</fieldset>
<br><br>
{% endfor %}
<button type="submit" onclick="delete_cookie('stored_clicks')"> Next </button>
</form>
{% endautoescape %}

</div><br><br><br><br><br><br><br>
  </div>
 
    </div></div>

    </div><br><br><br><br><br><br><br><br></div></div>
    <footer>
<br><i> &copy; 2017 NANYANG TECHNOLOGICAL UNIVERSITY</i>  
   </footer>
  </div>


<!--<script type="text/javascript" src="{{ url_for('static', filename='modal_load.js') }}"></script>-->
<script type="text/javascript" src="{{ url_for('static', filename='add_question.js')}}"'></script>
<script type="text/javascript" src="{{ url_for('static', filename='add_tablerow.js')}}"'></script>
</body>
</html>

