<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ title }}</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}"> 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modal.css') }}">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>
<body>
<div id="wrapper">
  <header>
 <img src="ntu_logo.jpg" alt="NTU logo" height="102" width="300" >
  </header>
  <div id="leftcolumn">
  <nav>
    <ul>
      <li><a href="students.html">Students</a></li>
      <br>
      <li><a href="assessments">Assessments</a></li>
	</ul>
  </nav>	
  </div>
  <div id="rightcolumn">
    <div class="content"> 
        <!-- Trigger/Open The Modal -->
<button id="myBtn"><img src="add_assess.png" height="15" width="15"><b> &nbsp; Add Assessment</b></button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h4>Congratulations</h4>
    <div id="leftcolumn">
    <img src="wizard_add_assessment.jpg" height="205"></div>
    <div id="rightcolumn">
    <p>
Congrats, your assessment has been created! <a href="/assessments">Start Adding New Questions</a> now OR <a href='/pick_questions'>choose</a> from the ones already in the DB.
</p>
<form action="assessments"> 

<br>
<button style="text-align: right;" type="submit">Finish</button></div>

</form><br><br><br><br><br><br><br>
  </div>

</div>
    </div></div>

    </div><br><br><br><br><br><br><br><br></div></div>
    <footer>
<br><i> &copy; 2017 NANYANG TECHNOLOGICAL UNIVERSITY</i>  
   </footer>
  </div>
<script type="text/javascript" src="{{ url_for('static', filename='modal_load.js') }}"></script>
</body>
</html>


