<!DOCTYPE html>
<html ng-app="add_question">
<head>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
<title>{{ title }}</title>
<meta charset="utf-8">
 <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<script src="{{ url_for('static', filename='contextmenu.js') }}"></script> 
<link rel="stylesheet" href="{{ url_for('static', filename='contextmenu.css') }}" /> 
<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modal.css') }}">-->
</head>
<body>
<div id="wrapper">
  <header>
 <img src="/static/ntu_logo.jpg" alt="NTU logo" height="102" width="300" >
  </header>
  <div id="leftcolumn">
  <nav>
    <ul>
      <li><a href="students.html">Students</a></li>
      <br>
      <li><a href="assessments">Assessments</a></li>
  </ul>
  </nav>  
  </div>
  <div id="rightcolumn">
    <div class="content"> 
    <!--<div ng-view>    </div>-->
          <span class="close">&times;</span>
    <h4>Add New Question</h4>
    <div id="leftcolumn">
    <img src="/static/wizard_add_question.jpg" height="205"></div>
    <div id="rightcolumn">
    <p>

This wizard allows you to add a new question quickly and easily. You can set several options now. 
</p>
  
        <!-- initially hidden right-click menu -->
        <div class="hide" id="rmenu">
            <ul>
                <li>
                    <a href="" onclick="insertQP();" class="my-link">Add a question parameter</a><br>
                    <a href="" onclick="insertAP();" class="my-link">Add a answer parameter</a>
                </li>
            </ul>
        </div>
        
<form action="check_param_type" method="post" id="choice_form"> 
<div id="test1"><a href="javascript:void(0)" class="test">
<textarea rows="5" cols="80" form="choice_form" id="test2" name="desc"></textarea>
</a></div>
  * Right click in the field below to add a parameter in question description

<input type="text" name="q_counter" id="counter" />
<input type="text" name="a_counter" id="counter" />
<br> <br> <br>

Which group does the question belong to? 
<input type="text" name="group">
<br>
What's the maximum score for this question?
<input type="number" name="max_marks">


<button type="submit">Next</button>
</form>
</div><br><br><br><br><br><br><br>
  </div>
 
    </div></div>

    </div><br><br><br><br><br><br><br><br></div></div>
    <footer>
<br><i> &copy; 2017 NANYANG TECHNOLOGICAL UNIVERSITY</i>  
   </footer>
  </div>

<script type="text/javascript" src="{{ url_for('static', filename='add_question.js')}}"'></script>
<script type="text/javascript" src="{{ url_for('static', filename='add_tablerow.js')}}"'></script>
<script type="text/javascript">
    function insertQP()
    {
   $('#test2').append(' %%P%% ')
    }
   
    function insertAP()
    {
   $('#test2').append(' %%ANS%% ')
    }
</script>
<script type="text/javascript">
  $(function() {
    var clicks = 0;
    $(".my-link").click(function() {
        clicks++;
        $.cookie('stored_clicks', clicks);
        //alert($.cookie('stored_clicks'));
    });
});
  document.getElementById('counter').value = $.cookie('stored_clicks');
</script>

</body>
</html>