<!DOCTYPE html>
<html lang="en">
<head>
<title>Login/Sign Up</title>
<meta charset="utf-8">
</head>
<body>
<script type = "text/javascript"  src ={{ url_for("static", filename='validator.js') }} ></script>
<header>	
Online Quiz System
</header>
<br><br><br>    
<form action="submit" method="post"> 
Username: <input type="email" name="mailid" id="mailid" required  placeholder = "Enter username"><br><br>
Password:&nbsp; <input type="password" name="pass"  id="pass" required placeholder = "Enter password"><br ><br> 
   <input type="radio" name="option" value="old_user">Existing User<br>
   <input type="radio" name="option" value="new_user" >New User<br><br>
   <input type="submit" value="Login/Sign Up" id='submit'> 
</form>


<p> <i>NTU Online Quiz System | </i>
<a href="mailto:rahul009@e.ntu.edu.sg">rahul009@e.ntu.edu.sg</a>  
 </p>
 </div>
 <script type = "text/javascript"  src={{ url_for("static", filename='validatorC.js') }}></script>
</body>
</html>





